.bg-cart{
    background-color:#f8f8f8;
    padding:20px;
    color:#222
}

.cart_heading{
    color:#222;
    font-size: 20px;
    font-weight: 600;
}

.list_heading{
 color:#555;
 font-size: 20px;
 font-weight: 600;
}